COMPOSE_FILE=docker-compose.yml:services/docker-compose-chartmuseum.yml:services/docker-compose-registry1.yml:services/docker-compose-registry2.yml
MTU=1500
# this is what our ssl-offloader will request the certificate for. Use your domain for your cache

CACHE_DOMAIN1=registry-cache.lan
USERNAME1=bob
PASSWORD1=bob
CACHE_DOMAIN2=registry2-cache.lan
UPSTREAM_REGISTRY2=
USERNAME2=bob
PASSWORD2=bob
# not set, we want to use the official hub registry. Change this for a private registry.
#UPSTREAM_REGISTRY=https://myprivate.registry.tld

TRAEFIK_ACME_CHALLENGE_DNS_PROVIDER=
TRAEFIK_ACME_CHALLENGE_DNS_CREDENTIALS=CF_DNS_API_TOKEN=

CHART_DOMAIN=charts.kubernetes.lan
# see https://github.com/helm/chartmuseum#basic-auth
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=very_secret
AUTH_ANONYMOUS_GET=1